/* General Navbar Styles */
.navbar {
    background-color: #333;
    padding: 10px 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav .nav-item .nav-link {
    color: #3385f8 !important;
    font-weight: 500;
    transition: all 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #f39c12 !important;
}



.navbar-toggler-icon {
    background-color: #fff;
}

/* Navbar Dropdown */
.navbar .dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar .dropdown-menu .dropdown-item {
    color: #333;
    font-size: 14px;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #f39c12;
    color: #902b2b;
}

/* Avatar and Name */
.navbar .dropdown-toggle {
    display: flex;
    align-items: center;
}

.navbar .dropdown-toggle img {
    border-radius: 50%;
    margin-right: 8px;
}

.navbar .dropdown-toggle span {
    color: #fff;
    font-weight: 500;
}

/* Cart Icon */
.navbar .fas.fa-shopping-cart {
    font-size: 20px;
    color: #0f43ef;
}

/* Notification Badge */
.navbar .badge-notification {
    background-color: #e74c3c;
    font-size: 10px;
    padding: 3px 5px;
    border-radius: 50%;
}

/* Mobile Responsive */
@media (max-width: 991px) {
    .navbar-nav .nav-item {
        margin-top: 10px;
    }
}
